
<div class="page-header">
  <h1>tidbit <small>an application for searching a book database <span class="glyphicon glyphicon-education" aria-hidden="true"></span></small></h1>
</div>

<div class="jumbotron">

	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#home">Search</a></li>
	    <li><a data-toggle="tab" href="#menu1">Insert</a></li>
  	</ul>

  	<div class="tab-content">
	    <div id="home" class="tab-pane fade in active">
	    	<% include ../partials/search.ejs %>
	    </div>

	    <div id="menu1" class="tab-pane fade">
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	    </div>
	</div>
</div>

		


	

	

