<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <div class="container">
    
    <div class="page-header">
      <h1>
      	tidbit <small>an application for searching a book database <span class="glyphicon glyphicon-education" aria-hidden="true"></span></small>

	   	<div class="btn-group pull-right" role="group">
		   	<button type="button" class="btn btn-default" onclick="location.href='/';" >
		      	Search
		    </button>
	        <button type="button" class="btn btn-default" onclick="location.href='/queryPage';" >
		      	Queries
		    </button>
		    <button type="button" class="btn btn-default" onclick="location.href='/insertPage';" >
		      	Insert
		    </button>
		     <button type="button" class="btn btn-default active" onclick="location.href='/deletePage';" >
		      	Delete
		    </button>
		</div>

      </h1>

    </div>


		<% include ../partials/delete.ejs %>
    </div>

</body>

</html>
