<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<% include ../partials/nav.ejs %>


	<form action="" method="post" enctype="multipart/form-data">
	 <fieldset>
	    <input type="text" id="search" name="seach" placeholder="Astrid Lindgren..." />
	    <br />
	    <input type="submit" value="Search" />
	 </fieldset>
	</form>
	
</body>
</html>
