<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <div class="container">

    <div class="page-header">
      <h1>tidbit <small>an application for searching a book database <span class="glyphicon glyphicon-education" aria-hidden="true"></span></small>

      	<button type="button" class="btn btn-default" onclick="location.href='/getQueries';" >
	      	Queries
	    </button>
      </h1>
    </div>




		<% if(dropdownTablesSearch.length > 0) { %>
			<% include ../partials/search.ejs %>
		<% } %>

		<% if(dropdownTablesInsert.length > 0) { %>
			<% include ../partials/insert.ejs %>
		<% } %>

		<% if(dropdownTablesDelete.length > 0) { %>
			<% include ../partials/delete.ejs %>
		<% } %>

		<% if(items.length > 0) { %>
			<% include ../partials/result.ejs %>
		<% } %>
    </div>

</body>

</html>
