<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h2>tidbit</h2>
  <input type="button" onclick="location.href='/getTags';" value="Tags" />
</body>

</html>
