<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <div class="container">

  	 <% if(dropdownTables.length > 0) { %>
    		<% include ../partials/nav.ejs %>
    	<% } %>

      <% if(dropdownTables.length > 0) { %>
          <% include ../partials/queries.ejs %>
      <% } %>

    	<% if(items.length > 0) { %>
    		<% include ../partials/result.ejs %>
    	<% } %>
  </div>

</body>

</html>
