<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <div class="container">
    
    <div class="page-header">
      <h1>tidbit <small>an application for searching a book database <span class="glyphicon glyphicon-education" aria-hidden="true"></span></small></h1>
    </div>

    <div>

     <% if(dropdownTables.length > 0) { %>
    		<% include ../partials/search.ejs %>
    	<% } %>

     <% if(dropdownTables.length > 0) { %>
        <% include ../partials/insert.ejs %>
      <% } %>

      <% if(dropdownTables.length > 0) { %>
          <% include ../partials/queries.ejs %>
      <% } %>

    	<% if(items.length > 0) { %>
    		<% include ../partials/result.ejs %>
    	<% } %>
  </div>

</body>

</html>
