<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

	<!--<% include ../partials/nav.ejs %>-->

	<% if(dropdownTables.length > 0) { %>
  		<% include ../partials/search.ejs %>
  	<% } %>

  	
  	<% if(items.length > 0) { %>
  		<% include ../partials/result.ejs %>
  	<% } %>
  	

</body>

</html>
