<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h2>Result</h2>
  <ul>
      <% items.forEach(function(item) { %>
          <li><%- item.author_legal_name, item.pseudonym, item.author_birthplace %></li>
      <% }); %>
  </ul>

</body>
</html>
