<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h2>Tags</h2>
  <ul>
      <% items.forEach(function(item) { %>
          <li><%= item.tag_id %></li>
      <% }); %>
  </ul>

</body>
</html>
